/Users/yuki/Documents/carbontribe_page/themes/up-business-theme/assets/images/Carbontribe.mp4 filter=lfs diff=lfs merge=lfs -text
/Users/yuki/Documents/carbontribe_page/public/images/Carbontribe.mp4 filter=lfs diff=lfs merge=lfs -text
