<section class="section cta py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-6">
                {{ with .content.title }}
                <h3 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h3>
                {{ end }}
            </div>
            <div class="d-flex justify-content-center align-items-center v-100">

                <div class="col-12 col-xl-6">
                    <div class="card bg-green border-0 border-radius-34 p-4">
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <form class="justify-content-center" action="https://formspree.io/f/xqazrdbb"
                                    method="post">
                                    <label class="text-primary" class="form-outline-primary" for="name">Name:
                                    </label><br>
                                    <input class="form-outline-primary" type="text" id="name" name="name"
                                        required><br><br>

                                    <label class="text-primary" class="form-outline-primary"
                                        for="email">Email:</label><br>
                                    <input class="form-outline-primary" type="email" id="email" name="email"
                                        required><br><br>

                                    <label class="text-primary" class="form-outline-primary" for="email">Company &
                                        role:</label><br>
                                    <input class="form-outline-primary" type="company" id="company"
                                        name="company"><br><br>

                                    <label class="text-primary" for="message">Message:</label><br>
                                    <textarea class="form-outline-primary"
                                        placeholder="Let us know how we can assist you. Feel free to ask questions, request information, or share your thoughts"
                                        id="message" name="message" rows="4" cols="50" required></textarea><br><br>

                                    <input class="btn btn-outline-primary px-4" type="submit" value="Submit">
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>