<section class="section product">
  <br></br>
  <div class="aos-scope">
    <div data-aos="fade-up">
      <div class="row pb-5">
        <div class="col-12">
          {{ with .title }}
          <h3 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h3>
          {{ end }}
        </div>
      </div>
      <div class="container">
        {{ range .content }}
        <div class="row product-feature">
          <div class="col-12 col-xl-6 d-flex flex-column justify-content-center">
            {{ with .image }}
            {{ partial "utilities/image-fluid.html" . }}
            {{ end }}
          </div>
          <div class="col-12 col-xl-6 d-flex flex-column justify-content-center">
            {{ with .pretitle }}
            <p class="text-danger fw-semibold mb-2">{{ . }}</p>
            {{ end }}
            {{ with .title }}
            <h3 class="fs-1 fw-bold text-primary pb-3">{{ . }}</h3>
            {{ end }}
            {{ with .text }}
            <p class="text-black-61 pb-3" style="font-size:25px; ">{{ . }}</p>
            {{ end }}
            {{ with .text2 }}
            <p class="text-black-61 pb-3" style="font-size:25px; ">{{ . }}</p>
            {{ end }}
            {{ with .text3 }}
            <p class="text-black-61 pb-3" style="font-size:25px; ">{{ . }}</p>
            {{ end }}
            {{ with .text4 }}
            <p class="text-black-61 pb-3" style="font-size:25px; ">{{ . }}</p>
            {{ end }}
            {{ with .text5 }}
            <p class="text-black-61 pb-3" style="font-size:25px; ">{{ . }}</p>
            {{ end }}
            {{ with .text6 }}
            <p class="text-black-61 pb-3" style="font-size:25px; ">{{ . }}</p>
            {{ end }}
            <div class="">
              {{ range .buttons }}
              <a class="text-decoration-none btn btn-outline-primary btn-outline-primary me-3" href="{{ .url }}">{{
                .label
                }}</a>


              {{ end }}
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>