<!DOCTYPE html>
<html lang="en">

{{ partial "head/head.html" . }}
{{ $styles := resources.Get "css/style.css" | minify }}
<link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" />

<body>
  {{- partial "shared/header.html" . -}}
  <main data-aos="fade-in" data-aos-duration="800">
    {{- block "main" . -}}{{- end -}}
  </main>
  {{- partial "shared/contact-button.html" . -}}
  {{- partial "shared/footer.html" . -}}
  
  <!-- JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
  {{ $animations := resources.Get "js/animations.js" }}
  <script src="{{ $animations.Permalink }}"></script>
</body>

</html>