<!DOCTYPE html>
<html lang="en">

{{ partial "head/head.html" . }}
{{ $styles := resources.Get "css/style.css" | minify }}
<link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">

<body>
  {{- partial "shared/header.html" . -}}
  {{- block "main" . -}}{{- end -}}
  {{- partial "shared/contact-button.html" . -}}
  {{- partial "shared/footer.html" . -}}
  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

</body>

</html>