{{ define "main" }}
<section class="section blog-list py-5">
    <div class="container">


        <!-- Full-width image with button at the right corner -->
        <div class="row">
            <div class="col-12 position-relative">
                <h2 class="fs-1 fw-bold text-primary pb-3">Featured</h2>
                <img src="/images/projects/brian-yurasits-PzQNdXw2a6g-unsplash.png" class="img-fluid w-100 mb-4"
                    alt="Full width image">


                <!-- Button at the right corner of the image -->
                <a href="clean_ocean_ensemble/"
                    class="btn btn-secondary position-absolute bottom-0 end-0 mb-3 me-3 btn-lg px-4 py-3">View
                    More</a>

            </div>
        </div>
        <hr>
        <br>

        <!-- list -->
        <h2 class="fs-1 fw-bold text-primary pb-3">Marine Debris</h2>
        <div class="row g-4 pb-5">
            {{ $p := (.Paginate .RegularPages).Pages }}
            {{ $p = where $p "Params.tags" "intersect" (slice "Carbontribe" )}}
            {{ range $p }}
            <div class="col-12 col-md-6 col-lg-4">
                <a class="card text-decoration-none h-100" href="{{ .Permalink }}">
                    <div class="aspect-ratio-62-5">

                        {{- $image := resources.Get .Params.featured_image -}}
                        <img src="{{ ($image.Fill " 400x320 q100 Center").RelPermalink }}">

                    </div>
                    <div class="card-body">
                        <h5 class="card-title fw-semibold">{{ .Title }}</h5>
                        <p class="card-text text-black-61">{{ .Summary | plainify }}</p>
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
        <div class="row pb-5">
            {{ template "_internal/pagination.html" . }}
        </div>
    </div>
</section>
{{ end }}